
body  {

}


@media  (min-width: 992px) {
    html {
        overflow: hidden;
    }
}

.grow {
    transition: all .2s ease-in-out;
}

    .grow:hover {

        transform: scale(1.025);
    }

  @media (max-width: 992px){
    .grow:hover {
        transform:none;
    }

  }