
.card:hover .card-img-overlay {
    opacity: 1;
    z-index: 1000;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(25% - 1rem), 1fr));
    gap: 1rem;
    justify-content: center; /* aligns the grid to the center of the container */
    align-content: center;
    align-items: center;
}

.grow {
    transition: all .2s ease-in-out;
}

    .grow:hover {
        z-index: 999;
        transform: scale(1.025);
    }

@media (max-width: 1199px) {
    .card-grid {
        grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1rem), 1fr));
    }
}

@media (max-width: 992px) {
    .grow:hover {
        transform: none;
    }
}

@media (max-width: 767px) {
    .card-grid {
        grid-template-columns: repeat(auto-fit, minmax(calc(100% - 1rem), 1fr));
    }
}
