body {
}

#regionList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#continentcard .card-img-top {
    max-height: 30rem;
}

#nomecontinente {
    transition: all .2s ease-in;
    top: 18%;
    position: absolute;
}

#titlebox {
    background-color: rgb(57, 56, 57, 0.9)
}

#titleregion {
    transition: all .2s ease-in;
}

.card-img-overlay {
    transition: all .2s ease-in;
}

.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all .5s ease-in;
}

.card_mask {
    transition: all .2s ease-in;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    transition: .5s ease;
    background-color: #393839;
}

.card-body {
    padding: 2rem;
}

.card-img-top {
    transition: all .2s ease-in;
    object-fit: contain;
    max-height: 200px;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

/*Hover*/

/* Continent*/
#continentcard:hover {
    color: white;
    box-shadow: 0 5px 15px #b29229;
}

    #continentcard:hover #continentimg {
        transform: scale(1.1);
    }

    #continentcard:hover #continentmask {
        opacity: 1;
    }

    #continentcard:hover #nomecontinente {
        transform: scale(1.1);
    }

/*Region*/
#regioncard:hover {
    color: white;
    box-shadow: 0 5px 15px #b29229;
}

    #regioncard:hover #regionimg {
        transform: scale(1.1);
    }

    #regioncard:hover .imground {
        transform: scale(1.2);
        opacity: 0
    }

    #regioncard:hover .card-img-overlay {
        background-color: rgb(57, 56, 57, 0);
    }

    #regioncard:hover #titleregion {
        transform: scale(1.3);
    }

    #regioncard:hover #regionmask {
        opacity: 1;
    }

@media (max-width: 767px) {
    #regionList {
        justify-content: center;
    }

    .card {
        height: 30rem !important;
        width: 100% !important;
        margin-left: auto;
        margin-right: auto;
    }

    .card-img-top {
        height: 100%;
        max-height: 100% !important;
        object-fit: cover;
        object-position: center;
    }

    .imground {
        height: 10rem;
        width: 10rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .bottom {
        height: 2rem;
    }
}

.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 0;
}

.imground {
    transition: all .1s ease-in;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: block;
    position: absolute;
    z-index: 2000;
}

.bottom {
    margin-top: auto;
    display: block;
    position: absolute;
}

.imgfit {
    width: 100%; /* or any custom size */
    height: 100%;
}

.objcenter {
    object-fit: cover;
    object-position: center;
}
