/*Search Menu*/
#search-box {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    margin-right: 10px;
    padding: 10px 0;
    width: 200px;
    color: #fff;
}
    #search-box:focus {
        outline: none;
        border-bottom-color: #2196F3;
    }

.section-title {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.container, container-fluid {
    transition: all 0.2s ease-in-out;
}

/*Responsive*/
@media (max-width:1200px) {
    #userShow {
        display: none;
    }
}

@media (max-width: 991px) {

    .navbar-nav > li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    #desccolumn, #idcolumn, #tddesc, #tdid {
        display: none;
    }
}
/*Custom code*/
descricao_content {
    max-width: 100%;
}

.pointer {
    cursor: pointer;
}

#tdid {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#tddesc {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7rem;
    z-index: 0; /* set the z-index of the footer to a lower value */
}

/* Hide the default select arrow 
    Checkbox for select with multiple items
*/
select[multiple]::-ms-expand {
    display: none;
}

select[multiple] {
    height: auto;
    width: 100%;
    padding: 6px 30px 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

    select[multiple] option {
        position: relative;
        padding-left: 32px;
    }

        select[multiple] option:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 7px;
            width: 18px;
            height: 18px;
            border: 1px solid #adb5bd;
            border-radius: 4px;
        }

        select[multiple] option:checked:before {
            content: '\2713';
            color: #007bff;
            border-color: #007bff;
        }

/*drodown menus*/

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}