.container, container-fluid {
    transition: all 0.3s ease-in-out;
}

/*Responsive*/
@media (max-width: 991px) {
    .navbar-nav > li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

        #desccolumn, #idcolumn, #tddesc, #tdid {
            display: none;
        }
    
}
@media (max-width: 991px) {

    html,body{
        font-size:8px;
    }
}
    /*Custom code*/
    descricao_content {
        max-width: 100%;
    }

    .pointer {
        cursor: pointer;
    }

    #tdid {
        max-width: 50px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #tddesc {
        max-width: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 7rem;
        z-index: 0; /* set the z-index of the footer to a lower value */
    }
