
body {
    overflow-x: hidden;
    transition: transform 0.2s ease-in-out;
}

    body * {
        transition: transform 0.2s ease-in-out;
    }

main {
    padding-left: 0.75rem;
}

.modal {
    z-index: 9999 !important;
}

/*Navbar collapse*/
.navbar-collapse {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    z-index: 2000; /* Set an appropriate z-index value */
    overflow-y: auto;
    padding: 15px; /* Adjust the padding as needed */
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
}

    .navbar-collapse.show {
        transform: translateX(0);
    }

.navbar-toggler {
    position: relative;
    top: 15px; /* Adjust the top position as needed */
    right: 0; /* Adjust the right position as needed */
    z-index: 9000; /* Ensure the hamburger menu is above the navbar-collapse */
}

/*Search Menu*/
#search-box {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    margin-right: 10px;
    padding: 10px 0;
    width: 200px;
}

    #search-box:focus {
        outline: none;
        border-bottom-color: rgb(156, 129, 0);
    }

.section-title {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.container, container-fluid {
    transition: all 0.2s ease-in-out;
}

/*Responsive*/

@media (min-width: 992px) {
    .navbar-collapse {
        position: static;
        width: auto;
        height: auto;
        max-width: none;
        transform: none;
        transition: none;
        overflow-y: visible;
        padding: 0;
    }

    .navbar-toggler {
        display: none;
    }
}

@media (max-width:1200px) {
    #userShow {
        display: none;
    }
    .navbar-nav .nav-item{
        font-size:0.98em;
    }
}

@media (max-width: 992px) {
    .navbar-collapse {
        font-size: 24px; /* Adjust the font size as needed and add !important */
        align-content: start;
        text-align: start;
        padding-left: 3rem;
        padding-top: 3rem;
        overflow-x: hidden;
    }

        .navbar-collapse .navbar-nav {
            position: relative;
            margin-top: 3rem;
        }

    body.collapse-active {
        overflow: hidden;
    }

    #admmenu {
        border: none;
        font-size: 18px; /* Adjust the font size as needed */
        align-content: start;
        text-align: start;
        width: 100%;
    }

        #admmenu .dropdown-item {
            margin-bottom: 1rem;
        }

        #admmenu .dropdown-divider {
            display: none;
        }

    .navbar-collapse .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar-nav > li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    #theme {
        transform: scale(1.15);
    }

    #desccolumn, #idcolumn, #tddesc, #tdid {
        display: none;
    }

    #submitbtn {
        width: 100%;
    }
}

@media (max-width: 767px) {

    /* Target all text elements and reduce their font size */
    body * {
        font-size: 0.98em;
    }

    body {
        overflow-x: scroll;
    }

    .navbar-nav .dropdown-menu li a {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .navbar-nav .dropdown-menu nav-link {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 464px) {
    .navbar-brand {
        transition: all 0.2s ease-in-out;
    }

    .dnone {
        display: none;
    }
}

@media (max-width: 350px) {
    body * {
        font-size: 0.98em;
    }

    .navbar-brand {
        font-size: 0.96em;
    }

    .navbar-collapse {
        font-size: 0.98em;
    }

    #admmenu .dropdown-item {
        font-size: 0.98em;
    }
}

/*Custom code*/
descricao_content {
    max-width: 100%;
}

.pointer {
    cursor: pointer;
}

#admmenu {
    z-index: 9999;
}

#tdid {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#tddesc {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bi-trash-fill:hover {
    color: rgb(96, 24, 24);
}

.bi-pencil-square:hover {
    color: rgb(156, 154, 41);
}

footer {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    height: 7rem;
    z-index: 0; /* set the z-index of the footer to a lower value */
}

/*drodown menus*/
.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}

.navbar {
}

.navbar-button {
    position: absolute; /* make the button absolute positioned */
    bottom: -3.5rem; /* move it half of its height below the navbar */
    left: 50%; /* center it horizontally inside the navbar */
    transform: translateX(-50%); /* adjust the horizontal position */
    padding: 10px;
    cursor: pointer;
    width: 15rem;
    height: 4rem;
    z-index: 2; /* make the button appear on top of the navbar */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-user {
    position: absolute; /* make the button absolute positioned */
    bottom: -3.5rem; /* move it half of its height below the navbar */
    left: 50%; /* center it horizontally inside the navbar */
    transform: translateX(-50%); /* adjust the horizontal position */
    padding: 10px;
    cursor: pointer;
    width: 10rem;
    height: 4rem;
    z-index: 2; /* make the button appear on top of the navbar */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-button > div {
    text-align: center;
    width: 100%;
    z-index: 2;
}

body {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/*Theme buttons*/

.theme-switch-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
}

    .theme-switch-btn i {
        font-size: 1.2rem;
        transition: opacity 0.2s ease-in-out;
    }

    .theme-switch-btn.active i {
        opacity: 1;
    }

    .theme-switch-btn:not(.active) i {
        opacity: 0.4;
    }
