
@{
}

<div class="container my-5 ">
    <div class="text-center">
    <img class="img-fluid"src="https://res.cloudinary.com/dsbfpnnly/image/upload/v1681002485/denied_yk9rsc.jpg" />
    </div>
</div>
