@model TdM.Web.Models.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}
<partial name="_Navbar2" />

<div class="container mx-auto mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="mt-3 mb-3 h3">
                Reset Password
            </h1>
            <form method="post">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Token" />
                <div class="mb-3">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" id="password" name="Password" asp-for="Password" required>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" asp-for="ConfirmPassword" required>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-secondary bg-body text-body">Reset Password</button>
            </form>
        </div>
    </div>
</div>