
@{
}
<!-- Include the navbar partial view and pass the Mundo object to it -->
@await Html.PartialAsync("_Navbar", new TdM.Web.Models.ViewModels.NavbarViewModel { MundoUrlHandle = Model.Mundo.UrlHandle })

<div class="mb-3">
    <label class="form-label">Content</label>
    <textarea class="form-control" id="content" ></textarea>
</div>

@section Scripts{
    <script>
        var editor = new FroalaEditor('#content',{
            imageUploadUrl: '/api/images'
        });
    </script>
}