@model TdM.Web.Models.ViewModels.AddPersonagemRequest
@using TdM.Database.Models.Domain.Enums
@{
}
<partial name="_Navbar2" />
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container" id="rt">
        <h1>Add new Character - Admin Funcionality</h1>
    </div>
</div>

<div class="container py-5 col-8">
    <form method="post">

        <div class="mb-3 col-8">
            <label class="form-label" for="nome">Name</label>
            <input type="text" class="form-control" id="nome" asp-for="Nome" />
        </div>

        <div class="mb-3 col-8">
            <label class="form-label" for="nome">Tittle</label>
            <input type="text" class="form-control" id="nome" asp-for="Titulo" />
        </div>


        <div class="mb-3">
            <label for="descricao" class="form-label">Short Description</label>
            <input class="form-control" type="text" placeholder="Character's Short Description" id="CurtaDescricao" name="CurtaDescricao" asp-for="CurtaDescricao" />
        </div>

        <div class="mb-3">
            <label for="descricao" class="form-label">Biografia</label>
            <textarea placeholder="Character's Biography" id="descricao" name="Biografia" asp-for="Biografia"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Upload Display Image</label>
            <input type="file" id="ImageCardUpload" class="form-control" />

            <img src="" id="ImageCardUploadDisplay" style="display:none;width:300px; margin-top:1em;" />
        </div>

        <div class="mb-3">
            <label class="form-label" for="ImgCardUrl">Display Image</label>
            <input type="text" class="form-control" id="ImgCardUrl" placeholder="Image's URL" asp-for="ImgCard" />
        </div>

        <div class="mb-3">
            <label class="form-label">Upload Content Image</label>
            <input type="file" id="ImageBoxUpload" class="form-control" />

            <img src="" id="ImageBoxUploadDisplay" style="display:none;width:300px; margin-top:1em;" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="ImgBoxUrl">Content Image</label>
            <input type="text" class="form-control" id="ImgBoxUrl" placeholder="Image's URL" asp-for="ImgBox" />
        </div>

        <div class=" mb-3 form-group col-8">
            <label for="class" class="form-label">Class</label>
            <select id="class" asp-for="Classe" class="form-control" asp-items="Html.GetEnumSelectList<Classe>()">
                <option value="" class="text-danger">No Class ...</option>
            </select>
            <span asp-validation-for="Classe" class="text-danger"></span>
        </div>

        <div class=" mb-3 form-group col-8">
            <label for="raca" class="form-label">Race</label>
            <select id="raca" asp-for="Raca" class="form-control" asp-items="Html.GetEnumSelectList<Raca>()">
                <option value="" class="text-danger">No Race ...</option>
            </select>
            <span asp-validation-for="Raca" class="text-danger"></span>
        </div>

        <div class="mb-3 col-2">
            <label class="form-label">Published Date</label>
            <input type="datetime-local" class="form-control" id="publishedDate" asp-for="PublishedDate" />
        </div>

        <div class="mb-3">
            <label class="form-label">URL Handle</label>
            <input type="text" class="form-control" placeholder="Suggestion: Volos-Capital" id="urlHandle" asp-for="UrlHandle" />
        </div>

        <div class="form-check form-switch mb-3">
            <label class="form-check-label" for="visible">Visible?</label>
            <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible" checked>
        </div>

        <div class="mb-3 col-8">
            <label class="form-label">World</label>
            <select id="SelectedMundo" class="form-select" asp-items="@Model.Mundos" asp-for="SelectedMundo" onchange="updateContinentes() ">
                <option value="" class="text-danger">No World</option>
            </select>
        </div>

        <div class="mb-3 col-8">
            <label class="form-label">Continent</label>
            <select id="SelectedContinentes" class="form-control" asp-items="@Model.Continentes" asp-for="SelectedContinente" onchange="updateRegioes()" data-single>
            </select>
        </div>

        <div class="mb-3 col-8">
            <label class="form-label">Region</label>
            <select id="SelectedRegioes" class="form-select" asp-items="@Model.Regioes" asp-for="SelectedRegiao" data-single>
            </select>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-dark">
                Save
            </button>
        </div>
    </form>
</div>

@section Scripts
    {
        <script type="text/javascript" src="~/js/Formulario.js"></script>
}