@{
    ViewData["Title"] = "About Us";
}
<!-- Include the navbar partial view and pass the Mundo object to it -->
@if (string.IsNullOrEmpty(ViewBag.MundoUrlHandle))
{
    @await Html.PartialAsync("_Navbar", new TdM.Web.Models.ViewModels.NavbarViewModel {})
}
else
{
    @await Html.PartialAsync("_Navbar", new TdM.Web.Models.ViewModels.NavbarViewModel { MundoUrlHandle = ViewBag.MundoUrlHandle, Mundo = Model.Mundo  })
}

<header class="py-5 bg-image-full border-5 border-bottom border-dark text-center text-white" style="background-image: url('https://www.dorkadia.com/wp-content/uploads/2013/06/Legend-RPG-Banner.jpg'); background-size:cover;background-position:center; height:60rem;">
    <div class="mask text-uppercase"><h1 class="fs-3 fw-bolder">About Us</h1></div>
    <div class="mask bg-dark bg-opacity-75 text-center p-5 h-auto w-25 float-end " style="margin-right:15rem; ">
        <h3 class="mb-5 text-uppercase textno">
            Team of official creators
        </h3>
        <h4> Lucas Vinicius Palandi</h4>
        <p class="text-secondary mb-3">Web Site Creator and Developer</p>
        <h4> Bruno Cordon</h4>
        <p class="text-secondary mb-3">Web Site Designer</p>
        <h4> Emerson Luiz</h4>
        <p class="text-secondary mb-3">Designer</p>
        <h4> Rodrigo Guedes</h4>
        <p class="text-secondary mb-3">Fullstack Developer</p>
        <h4> Felipe Jacomini</h4>
        <p class="text-secondary mb-">Lawyer</p>

        <p class="mt-5 mb-3 text-secondary">Contact: <br>tavernadosmundos@gmail.com</p>
        <p class="text-danger">All images are placeholders and do not represent the final version of this product</p>


    </div>
</header>