<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Taverna dos Mundos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TdM.Web.styles.css" asp-append-version="true" />  
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Taverna dos Mundos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item m-auto">
                            <div class="btn-group">
                                <a class="nav-link text-light" asp-area="" asp-controller="AdminMundos" asp-action="Index">Worlds </a>
                                @*  Admin Action*@
                                <div class="nav-link" role="group">
                                    <a class="p-0 nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminMundos" asp-action="Add">Add World</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminMundos" asp-action="List">Show All Worlds</a></li>
                                    </ul>
                                </div>
                            </div>
                            @*End of Admin Action*@
                        </li>

                        <li class="nav-item m-auto">
                            <div class="btn-group">
                                <a class="nav-link text-light" asp-area="" asp-controller="AdminPersonagens" asp-action="Index">Characters</a>
                                @*  Admin Action*@
                                <div class="nav-link" role="group">
                                    <a class="p-0 nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminPersonagens" asp-action="Add">Add Character</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminPersonagens" asp-action="List">Show Characters</a></li>
                                    </ul>
                                </div>
                            </div>
                            @*End of Admin Action*@
                        </li>
                        <li class="nav-item m-auto">
                            <div class="btn-group">
                                <a class="nav-link text-light" asp-area="" asp-controller="AdminRegioes" asp-action="Index">Regions </a>
                                @*  Admin Action*@
                                <div class="nav-link" role="group">
                                    <a class="p-0 nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminContinentes" asp-action="Add">Add Continent</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminContinentes" asp-action="List">Show Continents</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminRegioes" asp-action="Add">Add Region</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminRegioes" asp-action="List">Show Regions</a></li>
                                    </ul>
                                </div>
                            </div>
                            @*End of Admin Action*@
                        </li>
                        <li class="nav-item m-auto">
                            <div class="btn-group">
                                <a class="nav-link text-light" asp-area="" asp-controller="AdminContos" asp-action="Index">Stories </a>
                                @*  Admin Action*@
                                <div class="nav-link" role="group">
                                    <a class="p-0 nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminContos" asp-action="Add">Add Story</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminContos" asp-action="List">Show Stories</a></li>
                                    </ul>
                                </div>
                            </div>
                            @*End of Admin Action*@
                        </li>
                        <li class="nav-item m-auto">
                            <div class="btn-group">
                                <a class="nav-link text-light" asp-area="" asp-controller="Contos" asp-action="Index">People </a>
                                @*  Admin Action*@
                                <div class="nav-link" role="group">
                                    <a class="p-0 nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminContos" asp-action="Add">Add People</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminContos" asp-action="List">Show People</a></li>
                                    </ul>
                                </div>
                            </div>
                            @*End of Admin Action*@
                        </li>
                        <li class="nav-item m-auto">
                            <div class="btn-group">
                                <a class="nav-link text-light" asp-area="" asp-controller="AdminCriaturas" asp-action="Index">Creatures </a>
                                @*  Admin Action*@
                                <div class="nav-link" role="group">
                                    <a class="p-0 nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminCriaturas" asp-action="Add">Add Creature</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminCriaturas" asp-action="List">Show Creatures</a></li>
                                    </ul>
                                </div>
                            </div>
                            @*End of Admin Action*@
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Taverna dos Mundos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://raw.githubusercontent.com/dallaslu/bootstrap-5-multi-level-dropdown/master/bootstrap5-dropdown-ml-hack.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
