@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Taverna dos Mundos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TdM.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" />
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid px-5">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Taverna dos Mundos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav justify-content-between w-100">
                        @*  Admin Action*@
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown mx-auto">
                                <div class="btn-group">
                                    <button type="button" class="nav-link dropdown-toggle" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                        Worlds &nbsp;
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminMundos" asp-action="Add">Add World</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminMundos" asp-action="List">Show All Worlds</a></li>
                                    </ul>
                                </div>
                            </li>
                        }
                        @*End of Admin Action*@
                        @*  Admin Action*@
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown mx-auto">
                                <div class="btn-group">
                                    <a type="submit" asp-area="" asp-controller="Personagens" asp-action="List" class="nav-link">
                                        Characters
                                    </a>
                                    <button type="button" class="nav-link dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminPersonagens" asp-action="Add">Add Character</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminPersonagens" asp-action="List">Show Characters</a></li>
                                    </ul>
                                </div>
                            </li>
                        }
                        @*End of Admin Action*@
                        else
                        {
                            <li class="btn-group nav-item mx-auto">
                                <a asp-area="" asp-controller="Personagens" asp-action="List" class="nav-link active">Characters</a>
                            </li>
                        }
                        @*  Admin Action*@
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown mx-auto">
                                <div class="btn-group">
                                    <a type="submit" asp-area="" asp-controller="Regioes" asp-action="List" class="nav-link">
                                        Regions
                                    </a>
                                    <button type="button" class="nav-link dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminContinentes" asp-action="Add">Add Continent</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminContinentes" asp-action="List">Show Continents</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminRegioes" asp-action="Add">Add Region</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminRegioes" asp-action="List">Show Regions</a></li>
                                    </ul>
                                </div>
                            </li>
                        }
                        @*End of Admin Action*@
                        else
                        {
                            <li class="nav-item mx-auto">
                                <a asp-area="" asp-controller="Regioes" asp-action="List" class="nav-link active">Regions</a>
                            </li>
                        }
                        @*  Admin Action*@
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown mx-auto">
                                <div class="btn-group">
                                    <a type="submit" asp-area="" asp-controller="Criaturas" asp-action="List" class="nav-link">
                                        Creatures
                                    </a>
                                    <button type="button" class="nav-link dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminCriaturas" asp-action="Add">Add Creature</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminCriaturas" asp-action="List">Show Creatures</a></li>
                                    </ul>
                                </div>
                            </li>
                        }
                        @*End of Admin Action*@
                        else
                        {
                            <li class="nav-item mx-auto">
                                <a asp-area="" asp-controller="Criaturas" asp-action="List" class="nav-link active">Regions</a>
                            </li>
                        }
                        @*  Admin Action*@
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown mx-auto">
                                <div class="btn-group">
                                    <a type="submit" asp-area="" asp-controller="Povos" asp-action="List" class="nav-link">
                                        People
                                    </a>
                                    <button type="button" class="nav-link dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminPovos" asp-action="Add">Add People</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminPovos" asp-action="List">Show People</a></li>
                                    </ul>
                                </div>
                            </li>
                        }
                        @*End of Admin Action*@
                        else
                        {
                            <li class="nav-item mx-auto">
                                <a asp-area="" asp-controller="Povos" asp-action="List" class="nav-link active">People</a>
                            </li>
                        }
                        @*  Admin Action*@
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown mx-auto">
                                <div class="btn-group">
                                    <a type="submit" asp-area="" asp-controller="Contos" asp-action="List" class="nav-link">
                                        Short Stories
                                    </a>
                                    <button type="button" class="nav-link dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminContos" asp-action="Add">Add Story</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminContos" asp-action="List">Show Stories</a></li>
                                    </ul>
                                </div>
                            </li>
                        }
                        @*End of Admin Action*@
                        else
                        {
                            <li class="nav-item mx-auto">
                                <a asp-area="" asp-controller="Contos" asp-action="List" class="nav-link active">Short Stories</a>
                            </li>
                        }

                    </ul>

                    <div class="d-flex align-items-center">

                        @if (signInManager.IsSignedIn(User))
                        {
                            <div class="text-light me-3">
                                <span class="text-secondary text-nowrap" 0d="userShow"> @User?.Identity?.Name!</span>
                            </div>
                            <a class="btn bg-light text-dark"
                           asp-area=""
                           asp-controller="Account"
                           asp-action="Logout">Logout</a>
                        }
                        else
                        {
                            <a class="btn mx-2 bg-light text-dark"
                           asp-area=""
                           asp-controller="Account"
                           asp-action="Login">Login</a>
                            <a class="btn mx-2 bg-light text-dark"
                           asp-area=""
                           asp-controller="Account"
                           asp-action="Register">Register</a>
                        }

                    </div>

                </div>
            </div>
        </nav>

    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center bg-dark py-3 fixed-bottom">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <span class="mb-3 me-3 mb-md-0 text-muted">© 2023 Taverna dos Mundos, Inc &nbsp;<a asp-controller="Home" asp-action="Privacy"> About Us </a></span>

            </div>


            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
        </footer>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
