@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@{
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid px-5">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Taverna dos Mundos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
             @*  Admin Action*@
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <ul class="navbar-nav justify-content-between w-100 ms-auto">
                    @*  Admin Action*@
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown mx-auto">
                            <div class="btn-group">
                                <button type="button" class="nav-link dropdown-toggle" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                    Worlds &nbsp;
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="AdminMundos" asp-action="Add">Add World</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="AdminMundos" asp-action="List">Show All Worlds</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                    @*End of Admin Action*@
                    @*  Admin Action*@
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown mx-auto">
                            <div class="btn-group">
                                <a type="submit" asp-area="" asp-controller="Personagens" asp-action="List" class="nav-link">
                                    Characters
                                </a>
                                <button type="button" class="nav-link dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="AdminPersonagens" asp-action="Add">Add Character</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="AdminPersonagens" asp-action="List">Show Characters</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                    @*End of Admin Action*@
                    else
                    {
                        <li class="btn-group nav-item mx-auto">
                            <a asp-area="" asp-controller="Personagens" asp-action="List" class="nav-link active">Characters </a>
                        </li>
                    }
                    @*  Admin Action*@
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown mx-auto">
                            <div class="btn-group">
                                <a type="submit" asp-area="" asp-controller="Continentes" asp-action="List" class="nav-link">
                                    Regions
                                </a>
                                <button type="button" class="nav-link dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="AdminContinentes" asp-action="Add">Add Continent</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="AdminContinentes" asp-action="List">Show Continents</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="AdminRegioes" asp-action="Add">Add Region</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="AdminRegioes" asp-action="List">Show Regions</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                    @*End of Admin Action*@
                    else
                    {
                        <li class="nav-item mx-auto">
                            <a asp-area="" asp-controller="Continentes" asp-action="List" class="nav-link active">Regions</a>
                        </li>
                    }
                    @*  Admin Action*@
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown mx-auto">
                            <div class="btn-group">
                                <a type="submit" asp-area="" asp-controller="Criaturas" asp-action="List" class="nav-link">
                                    Creatures
                                </a>
                                <button type="button" class="nav-link dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="AdminCriaturas" asp-action="Add">Add Creature</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="AdminCriaturas" asp-action="List">Show Creatures</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                    @*End of Admin Action*@
                    else
                    {
                        <li class="nav-item mx-auto">
                            <a asp-area="" asp-controller="Criaturas" asp-action="List" class="nav-link active">Creatures</a>
                        </li>
                    }
                    @*  Admin Action*@
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown mx-auto">
                            <div class="btn-group">
                                <a type="submit" asp-area="" asp-controller="Povos" asp-action="List" class="nav-link">
                                    People
                                </a>
                                <button type="button" class="nav-link dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="AdminPovos" asp-action="Add">Add People</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="AdminPovos" asp-action="List">Show People</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                    @*End of Admin Action*@
                    else
                    {
                        <li class="nav-item mx-auto">
                            <a asp-area="" asp-controller="Povos" asp-action="List" class="nav-link active">People</a>
                        </li>
                    }
                    @*  Admin Action*@
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown mx-auto">
                            <div class="btn-group">
                                <a type="submit" asp-area="" asp-controller="Contos" asp-action="List" class="nav-link">
                                    Stories
                                </a>
                                <button type="button" class="nav-link dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="AdminContos" asp-action="Add">Add Story</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="AdminContos" asp-action="List">Show Stories</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                    @*End of Admin Action*@
                    else
                    {
                        <li class="nav-item mx-auto">
                            <a asp-area="" asp-controller="Contos" asp-action="List" class="nav-link active">Stories</a>
                    </li>
                }

            </ul>
            }
            <div class="navbar-nav ml-auto d-flex align-items-center" style="margin-left: auto; margin-right: 0;">
                @if (signInManager.IsSignedIn(User))
                {
                    <div class="text-light me-3">
                        <span class="text-secondary text-nowrap" id="userShow">@User?.Identity?.Name!</span>
                    </div>
                    <a class="btn bg-light text-dark ms-2 ms-lg-3 w-100" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                }
                else
                {
                    <a class="btn mx-2 bg-light text-dark w-100" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    <a class="btn mx-2 my-1 bg-light text-dark w-100" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                }
            </div>

        </div>
    </div>
</nav>